<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MI FAMILIA</title>
</head>
<h1>ESTA ES MI FAMILIA</h1>
<body>
    <h2>Mi papa:</h2>
    <p>Mi papa se llama: {{nombrePadre}}</p>
    <p>Edad de mi papa: {{edadPadre}}</p>
    <p>Mi papa cumple el: {{nacimientoPadre}}</p>

    <h2>Mi mama:</h2>
    <p>Mi mama se llama: {{nombreMadre}}</p>
    <p>Edad de mi mama: {{edadMadre}}</p>
    <p>Mi mama cumple el : {{nacimientoMadre}}</p>

    <h2>Mi hermano:</h2>
    <p>Mi hermano se llama: {{nombreHermano}}</p>
    <p>Edad de mi hermano: {{edadHermano}}</p>
    <p>Mi hermano cumple el: {{nacimientoHermano}}</p>

</body>
</html>
